.author{
    background-image: linear-gradient(rgb(121, 0, 0,0.4), black);
    padding: 10px 20px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.849);
    border-radius: 15px;
    text-align: left;
}
.author:hover{
    background-image: linear-gradient(rgb(121, 0, 0,0.7), black);
    border-radius: 5px;
    transform: scale(1.1);
    transition-duration: .7s ;
}

.author button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.849);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    
    
}